*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.head {
  color: #4c545d;
}

.text {
  color: #9fabb2;
}

.btn {
  border: none;
  border-radius: 30px;
  padding: 15px 45px;
  color: #4c545d;
  font-family: "Bai Jamjuree", sans-serif;
  margin-right: 15px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  font-size: 1em;
  -webkit-transition: 150ms ease-in-out all;
  transition: 150ms ease-in-out all;
}

.btn:hover {
  opacity: .7;
}

.btn-cyan {
  background-color: #26baa4;
  -webkit-box-shadow: 4px 10px 14px 0px  #26baa46b;
          box-shadow: 4px 10px 14px 0px  #26baa46b;
}

.btn-blue {
  background-color: #6173ff;
  -webkit-box-shadow: 4px 10px 14px 0px #6173ff6b;
          box-shadow: 4px 10px 14px 0px #6173ff6b;
}

header {
  background: url(../images/bg-header-desktop.png) no-repeat top;
  background-size: 100%;
  text-align: center;
  padding: 100px 390px;
}

header .logo {
  max-width: 115px;
  margin-left: auto;
  margin-right: auto;
}

header div {
  margin-bottom: 30px;
}

main .benifits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  margin-bottom: 100px;
}

main .benifits .benifits-text {
  padding: 30px 215px 30px 30px;
}

main .benifits .benifits-text .head {
  margin-bottom: 0;
}

main .benifits .benifits-text .text {
  line-height: 37px;
}

main .benifits .benifits-img {
  position: relative;
}

main .benifits .benifits-img img {
  position: absolute;
  left: -30px;
}

main .devices {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 170px;
}

main .devices .para {
  margin-bottom: 50px;
  padding: 0 165px;
}

main .supercharge {
  text-align: center;
}

main .supercharge .functions {
  padding: 0 100px;
  display: -ms-grid;
  display: grid;
  grid-gap: 49px;
  margin: 80px 0;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

main .supercharge .functions .functions-item .icon {
  max-width: 45px;
  margin: auto;
}

main .supercharge .functions .functions-item p {
  line-height: 27px;
}

main .partners {
  margin-bottom: 80px;
  padding: 40px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .partners .partners-logo {
  max-width: 150px;
}

main .clipboard {
  text-align: center;
  padding: 0 340px;
  margin-bottom: 100px;
}

footer {
  display: -ms-grid;
  display: grid;
  padding: 40px 140px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #26baa405;
}

footer .f-logo {
  max-width: 60px;
}

footer .f-links {
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  grid-column: 3 / 8;
}

footer .f-links .f-items {
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

footer .f-links .f-items:hover {
  text-decoration: underline;
  color: #26baa4;
}

footer .social {
  grid-column: -3 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}

footer .social i {
  color: #4c545d;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

footer .social i:hover {
  color: #26baa4;
}
/*# sourceMappingURL=style.css.map */